<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="..\static\css\form.css">
    <title>Login</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div id = "login_form">
        <form action="" method="POST" >
            <img src="../static/img/login_avatar.svg" alt="login_logo" id = "top_img">
            <h3 id= "top_text">Login</h3>
            <div id="username">
                <i class="fa-solid fa-user fa-2x fa-red"></i>
                <input type="text" name = "username" placeholder="Username">
            </div>
            <div id="pw">
                <i class="fa-solid fa-key fa-2x"></i>
                <input type="password" name = "password" placeholder="Password">
            </div>
            <input type="submit" value="Login">
        </form>
        {% for message in get_flashed_messages() %}
            <div id="error_message">{{ message }}</h2>
            {% endfor %}
    </div>
    {% endblock %}
</body>
</html>