<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>Brain Tumor Detection</title>
</head>
<body>
    <div id="nav-menu">
        <img src="../static/img/brain.png" alt="logo_image" id="logo">
        <div id="title">
            <h1>Brain Tumor Detection Model</h1>
        </div>
        
    </div>
    <div id="menu-items">
        <a href= {{url_for('load_home') }} class="nav-links">Home</a>
        <a href={{ url_for('login') }} class="nav-links">{{login_logout}}</a>
        <a href="{{ url_for('about')}}" class="nav-links">About</a>
    </div>
    {% block content %}
    {% endblock %}
    </script>
</body>
</html>